<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        }
    </style>
</head>
<body>
<div th:replace="~{/common :: headerFragment}"></div>
<br/>
<hr class="my-4">

<div>

    <div class="container">

        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-primary btn-lg"
                        onclick="location.href='editForm.html'"
                        th:onclick="|location.href='@{/post/{postId}/edit(postId=${post.id})}'|"
                        type="button">게시글 수정
                </button>
            </div>

            <div class="col">
                <button class="w-100 btn btn-secondary btn-lg"
                        onclick="location.href='posts.html'"
                        th:onclick="|location.href='@{/posts}'|"
                        type="button">목록으로
                </button>
            </div>



        </div>
        <hr class="my-4">
        <div>

            글 번호: <span th:text="${post.id}"></span>
            <br>
<!--            작성자: <span th:text="${post.memberName}"></span>-->
            카테고리: <span th:text="${post.categoryType}"></span>
        </div>
        <br>

            <!-- 추가 -->
            <h2 th:if="${param.status}" th:text="'저장 완료'"></h2>

            <div>
                <label for="title">제목</label>
                <input type="text" id="title" name="title" class="form-control" value="제목 1" th:value="${post.title}"
                       readonly>
            </div>
            <div>
                <label for="contents">내용</label>
                <input type="text" id="contents" name="contents" class="form-control" value="내용 1"
                       th:value="${post.contents}" readonly>
            </div>
        <form th:action="@{|/post/${post.id}/comment|}"  th:object="${comment}" method="post">

        <hr class="my-4">
            <div class="card">
                <div class="card-body"><textarea type="text" class="form-control" rows="1" th:field="*{contents}"th:errorclass="field-error"></textarea></divclass>
                    <div class="field-error" th:errors="*{contents}" />
                    <div class="card-footer">
                        <button class="btn btn-primary" type="sumit">댓글 작성</button>
                    </div>
                </div>
            </div>
        <br/>
        </form>
        <div class="card">
            <div class="card-header">
                댓글 리스트
                <ul id="comment--box" class="list-group">
                    <tr th:each="comment : ${post.comment}">
                        <li id="comments--1" class="list-group-item d-flex justify-content-between">
                            <div th:text="${comment.contents}"></div>
                            <div class="d-flex">
                                <div class="font-italic" th:text="${comment.member.nickName}">
                                </div>
                                <button class="badge">삭제</button>
                            </div>
                        </li>
                    </tr>
                </ul>
            </div>

        </div>


        </div> <!-- /container -->
    </div>
</div>
</body>
</html>