<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div th:replace="~{/common :: headerFragment}"></div>
<hr class="my-4">
<div class="container" style="max-width: 600px">
    <div class="py-5 text-center">
        <h2>게시글</h2>
    </div>
    <form th:object="${postSearch}" method="get" class="form-inline">
    <div class="row">
        <div class="col">
            <input type="text" th:field="*{categoryType}" class="form-control" placeholder="카테고리"/>
        </div>
        <div class="col">
            <input type="text" th:field="*{title}" class="form-control" placeholder="제목"/>
        </div>
        <div class="col">
            <input type="text" th:field="*{contents}" class="form-control" placeholder="내용"/>
        </div>
        <div class="col">
            <button type="submit" class="btn btn-secondary mb-2">검색</button>
        </div>
        <div class="col">
        </div>
        <div class="col">
            <div class="col">
                <button class="btn btn-primary float-end"
                        onclick="location.href='post/addForm.html'"
                        th:onclick="|location.href='@{/posts/add}'|"
                        type="button">게시글 쓰기
                </button>
            </div>
        </div>
    </div>

    </form>

    <hr class="my-4">
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>카테고리</th>
                <th>글 번호</th>
                <th>제목</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="post : ${posts}">

                <td><a href="post.html" th:href="@{|/post/${post.id}|}" th:text="${post.categoryType}">카테고리</a></td>
                <td><a href="post.html" th:href="@{|/post/${post.id}|}" th:text="${post.id}">글 번호</a></td>
                <td><a href="post.html" th:href="@{|/post/${post.id}|}" th:text="${post.title}">제목</a></td>

            </tr>
            </tbody>
        </table>
    </div>


</div> <!-- /container -->

</body>
</html>