<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        }

    </style>
</head>
<body>
<div th:replace="~{/common :: headerFragment}"></div>
<br/>
<hr class="my-4">

<form th:object="${member}" method="get">
    <div>

        <div class="container">

            <div class="row">
                <div class="col">
                    <button class="w-100 btn btn-primary btn-lg"
                            th:onclick="|location.href='@{/users/detail/update}'|"
                            type="button">회원정보 수정
                    </button>
                </div>
                <div class="col">
                    <button class="w-100 btn btn-lg btn-success"
                            th:onclick="|location.href='@{/users/detail/changePW}'|"
                            type="button">비밀번호 변경
                    </button>
                </div>
            </div>
            <h2 style="color:blue" th:if="${param.status}" th:text="'저장 완료'"></h2>

            <span style="color:red" th:if="${param.authFail}" th:text="'수정권한이 없습니다.'"></span>
            <hr class="my-4">
            <div>

                <label for="nickName">닉네임</label>
                <input type="text" id="nickName" name="nickName" class="form-control" value="닉네임 1"
                       th:value="*{nickName}"
                       readonly>
                <br>
                <label for="profile">프로필</label>
                <input type="text" id="profile" name="profile" class="form-control" value="프로필" th:value="*{profile}"
                       readonly>
            </div>

            <hr class="my-4">
            <hr class="my-4">
            <div class="container">
                <div class="col">
                    <h3>좋아요한 게시물</h3>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>제목</th>
                            <th></th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="hearts : ${member.hearts}">
                            <td th:text="${hearts.postTitle}">
                            </td>
                            <td>
                                <button class="badge-primary float-end"
                                        th:onclick="|location.href='@{/post/{postId}(postId=${hearts.postId})}'|"
                                        type="button">보러가기
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <!-- 추가 -->
                    <h3>내가 쓴 댓글</h3>
                    <div>
                        <table class="table">
                            <thead>
                            <tr>
                                <th>게시물 제목</th>
                                <th>댓글</th>

                            </tr>
                            </thead>
                            <tbody>

                            <tr th:each="comments : ${member.comments}">
                                <td th:text="${comments.postTitle}">
                                </td>

                                <td th:text="${comments.contents}">
                                </td>
                                <td>
                                    <button class="badge-primary float-end"
                                            th:onclick="|location.href='@{/post/{postId}(postId=${comments.postId})}'|"
                                            type="button">보러가기
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>


                        <h3>내가 쓴 게시글</h3>
                        <div>
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>카테고리</th>
                                    <th>제목</th>

                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="posts : ${member.posts}">
                                    <td th:text="${posts.categoryType}">
                                    </td>
                                    <td th:text="${posts.title}">
                                    </td>
                                    <td>
                                        <button class="badge-primary float-end"
                                                th:onclick="|location.href='@{/post/{postId}(postId=${posts.postId})}'|"
                                                type="button">보러가기
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    </table>
                </div>
            </div>
        </div>
    </div>
</form>

        <div th:replace="~{/common :: footerFragment}"></div>
    </div> <!-- /container -->
</div>
</div>
</body>
</html>