<!DOCTYPE HTML>
<html lang="en" class="h-100" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="utf-8">
  <link th:href="@{/css/bootstrap.min.css}"
        href="../css/bootstrap.min.css" rel="stylesheet">
  <style>
 .container {
 max-width: 560px;
 }
 .field-error {
 border-color: #dc3545;
 color: #dc3545;
 }
 </style>
</head>
<body>
<div th:replace="~{/common :: headerFragment}"></div>
<hr class="my-4">
<div class="container">
  <div class="py-5 text-center">
    <h2>비밀번호 찾기</h2>
  </div>
  <h4 class="mb-3">회원 정보 입력</h4>

  <!--임시 비번 모달-->

  <form th:action th:object="${mailDto}" method="post">
    <div class="container my-auto">
      <div class="row">
        <div class="card z-index-0 fadeIn3 fadeInBottom">
          <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
            <div class="bg-gradient-primary shadow-primary border-radius-lg py-3 pe-1">
              <h4 class="text-white font-weight-bolder text-center mt-2 mb-0">비밀번호 찾기</h4>
            </div>
          </div>
          <div class="card-body">
            <p>입력한 이메일로 임시 비밀번호가 전송됩니다.</p>
            <div class="input-group input-group-outline my-3">
              <label class="form-label">ID</label>
              <input type="text" th:value="*{memberId}" th:field="*{memberId}" class="form-control" id="memberId"
                     name="memberId">
            </div>

            <div class="input-group input-group-outline my-3">
              <label class="form-label">가입시 기입한 Email</label>
              <input type="email" th:value="*{email}" th:field="*{email}" class="form-control" id="email" name="email">
            </div>


            <div class="text-center">
              <button class="btn bg-gradient-primary w-100 my-4 mb-2"
                      type="submit">비밀번호 발송
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  <button type="button" class="btn btn-link" data-bs-toggle="modal"
          data-bs-target="#findPw">비밀번호를 잊으셨나요?</button>
<div th:replace="~{/common :: footerFragment}"></div>

</div> <!-- /container -->
</body>
</html>
