<!DOCTYPE HTML>
<html lang="en" class="h-100" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
 .container {
 max-width: 560px;
 }
 .field-error {
 border-color: #dc3545;
 color: #dc3545;
 }
 </style>
</head>
<body>
<div th:replace="~{/common :: headerFragment}"></div>
<hr class="my-4">
<div class="container">
    <div class="py-5 text-center">
        <h2>정보수정</h2>
    </div>
    <h4 class="mb-3">회원 정보 입력</h4>
    <form action="detail.html" th:action th:object="${memberUpdateDto}" method="post">

        <div>
                <label for="nickName">닉네임 </label>
                <input type="text" th:value="*{nickName}" th:field="*{nickName}"class="form-control" id="nickName" name="nicName"
                       placeholder="닉네임을 입력하세요." required
                       minlength="4" size="20">
<!--                <div class="field-error" th:errors="*{nickName}"/>-->
            </div>
            <div>
                <label for="profile">내 프로필</label>
                <input type="text" th:value="*{profile}" th:field="*{profile}"class="form-control"
                       id="profile" name="profile">
            </div>
            <hr class="my-4">
            <div class="row">
                <div class="col">
                    <button class="w-100 btn btn-lg btn-success" type="submit">회원수정</button>
                </div>
                <div class="col">
                    <button class="w-100 btn btn-secondary btn-lg"
                            onclick="location.href='/'"
                            th:onclick="|location.href='@{/users/detail}'|"
                            type="button">취소
                    </button>
                </div>
            </div>
    </form>
</div>
            </div>
        </div>
    </form>
<div th:replace="~{/common :: footerFragment}"></div>

</div> <!-- /container -->
</body>
</html>