<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <link th:href="@{/css/bootstrap.min.css}"
        href="css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container" style="max-width: 600px">
  <div class="py-5 text-center">
    <h2>홈 화면</h2>
  </div>
  <div class="row">
    <div class="col">
      <button class="w-100 btn btn-secondary btn-lg" type="button"
              th:onclick="|location.href='@{/users}'|">
        회원 가입
      </button>
    </div>
    <div class="col">
      <button class="w-100 btn btn-dark btn-lg"
              onclick="location.href='items.html'"
              th:onclick="|location.href='@{/login}'|" type="button">
        로그인
      </button>
    </div>
  </div> <!-- /container -->
<br><br>
    <div class="container" style="max-width: 600px">
      <div class="row">
      <div class="col">
        <button class="w-100 btn btn-secondary btn-lg" type="button"
                th:onclick="|location.href='@{/post/free}'|">
          자유 게시판
        </button>
      </div>
      <div class="col">
        <button class="w-100 btn btn-secondary btn-lg" type="button"
                th:onclick="|location.href='@{/post/concert}'|">
          공연 게시판
        </button>
      </div>
      <div class="col">
        <button class="w-100 btn btn-secondary btn-lg" type="button"
                th:onclick="|location.href='@{/post/trade}'|">
          중고거래
        </button>
      </div>
    </div>
      <div class="py-5 text-center">
        <h3>인기 게시물</h3>
        카테고리별 top5
        <h3>내가 저장한 게시물</h3>
        로그인 해주세요
      </div>
  </div>
</div>
  <hr class="my-4">
</body>
</html>