<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="utf-8">
  <link th:href="@{/css/bootstrap.min.css}"
        href="css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div th:replace="~{/common :: headerFragment}"></div>
<hr class="my-4">

<div class="container" style="max-width: 1500px">
  <hr class="my-4">
  <div class="row">
    <div class="col">
      <button class="w-100 btn btn-secondary btn-lg" type="button"
              th:onclick="|location.href='@{/posts/list/자유게시판}'|">
        자유 게시판
      </button>
    </div>
    <div class="col">
      <button class="w-100 btn btn-secondary btn-lg" type="button"
              th:onclick="|location.href='@{/posts/list/공연게시판}'|">
        공연 게시판
      </button>
    </div>
    <div class="col">
      <button class="w-100 btn btn-secondary btn-lg" type="button"
              th:onclick="|location.href='@{/posts/list/중고거래}'|">
        중고거래
      </button>
    </div>
  </div>
  <hr class="my-4">
  <div class="container" style="max-width: 1500px">
    <div class="py-5 text-center">
      <h2>🎼음악인을 위한 커뮤니티 Muze</h2>
      <br>
      <span style = " font-size:2em;  font-weight: bold ;" class="mb-3" sec:authorize="!isAuthenticated()">게스트</span>
      <span style = " font-size:2em;  font-weight: bold ;" class="mb-3" sec:authorize="isAuthenticated()" sec:authentication="principal.nickName">로그인 사용자 이름</span>
      <span>님 환영합니다.</span>
    </div>
  </div> <!-- /container -->
  <br>
  <div class="container" style="max-width: 1200px">
    <div class="row">
      <div class="col">
        <h3>인기 게시물</h3>
        <div>
          <table class="table">
            <thead>
            <tr>
              <th>카테고리</th>
              <th>제목</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="post : ${topPosts}">

              <td><a th:text="${post.categoryType}">카테고리</a></td>
              <td><a href="post.html" th:href="@{|/post/${post.id}|}" th:text="${post.title}"style="color:gray; text-decoration:none;">제목</a></td>

            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col" >
        <h3>내가 저장한 게시물</h3>
          <div class="col" sec:authorize="!isAuthenticated()">
            로그인을 해주세요
          </div>
          <div class="col" sec:authorize="isAuthenticated()">
            <table class="table">
            <thead>
            <tr>
              <th>제목</th>
              <th></th>

            </tr>
            </thead>
            <tbody>
              <tr th:each="hearts : ${principalDetailMember.hearts}">
                  <td th:text="${hearts.post.title}">
                    </td>
                <td><button class="badge-primary float-end" th:onclick="|location.href='@{/post/{postId}(postId=${hearts.post.id})}'|"
                            type="button">보러가기
                </button></td>
              </tr>
            </tbody>
            </table>
          </div>
      </div>
    </div>
  </div>
  <div class="container" style="max-width: 1500px">
      <div th:replace="~{/common :: footerFragment}"></div>
      </div>
</div>
</body>
</html>